# Distribution and packages

venv/

# Databases

db.sqlite3

# Cache

website/src_muypicky/muypicky/__pycache__/*
website/src/website/blog_app/migrations/__pycache__/*
website/src/website/blog_app/__pycache__/*
website/src/website/searches/__pycache__/*
website/src/website/searches/migrations/__pycache__/*
website/src/website/website/__pycache__/*

src_muypicky/restaurants/__pycache__/*
/src_muypicky/muypicky/__pycache__/*
