{% extends "base.html" %}

{% block head_title %}Add Restaurant | {{block.super}}{% endblock head_title %}

{% block content %}
<h1>Add a Restaurant</h1>


{% if errors %}
 {{ errors }}
{% endif %}
<div class="container">
    <form method="POST"> {% csrf_token %}
        <!--<input type='text' name='name' placeholder='Your title'>
        <input type='text' name='location' placeholder='Location'>
        <input type='text' name='category' placeholder='Category'>-->
        {{ form.as_p }}
        <button type='submit'>Add</button>
    </form>
</div>

{% endblock %}

