{% extends "base.html" %}
{% block head_title %}Welcome to || {{block.super}}{% endblock head_title %}
{% block content %}

<h1>Main site</h1>

    <p>This is {{html_var}}, a context variable (something new!)</p>
    <p>This is {{num}}, another context variable (something new!)</p>
    <p>
        {% if html_var %}
            Random number is {{num}}
        {% endif %}
    </p>

    <p>
        {% for some_item in some_list %}
            {% if some_item|divisibleby:"2" %}
                Even number
            {% endif %}

            {{some_item}} <br />
        {% endfor %}
    </p>

{% endblock content %}